.content {
    margin: 0 auto;
    max-width: 880px;
    min-width: 320px;
    min-height: calc(100vh - 150px);
}

@media screen and (max-width: 880px) {
    .content {
        min-height: calc(100vh - 108px);
    }   
}