@import url(./__close-btn/edit-btn-modal__close-btn.css);
@import url(./__box/edit-btn-modal__box.css);

.edit-btn-modal {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

@media screen and (max-width: 481px) {
    .edit-btn-modal  {
        padding: 0 19px;
    }
}