.place-card__title {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    padding: 0;
    margin: 0;
    max-width: 213px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.place-card__title:hover {
    cursor: default;
}