.profile__name {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    padding: 0 18px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 373px; 
}

.profile__name:hover {
    cursor: default;
}
@media screen and (max-width: 769px) {
    .profile__name {
        text-align: center;
        padding: 0 10px 0 0;
    }
}

@media screen and (max-width: 481px) {
    .profile__name {
        font-size: 22px;
        line-height: 27px;
    }
}