.profile__edit-btn {
    background-image: url(../../../images/edit-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    align-self: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media screen and (max-width: 481px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
    }
}