@import url(./__box/modal__box.css);
@import url(./__box/_type/modal__box_type_preview.css);
@import url(./__close-btn/modal__close-btn.css);

.modal {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

@media screen and (max-width: 481px) {
    .modal  {
        padding: 0 19px;
    }
}