.grid__card-like-btn {
    align-self: center;
    background-color: #fff;
    border: none;
    background-image: url(../../../images/like-btn.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
}